<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Spam Classifier</h1>
    <div id="form_1">
        <p>Please input text below:</p>
        <form action="/analyze" method="post">
            Text Input: <textarea name="text"></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="results" style="display:none">
        <h2>This email is: {{ label }}!</h2>
        <h2>With a likelihood of: {{ prob }}%</h2>
    </div>
    <script>
        var result = {{ label|safe|tojson }}
        if (result != "None"){
            document.getElementById("form_1").style.display = "none";
            document.getElementById("results").style.display = "block";
        }
    </script>
</body>
</html>